**Single line comment**

In [1]:
# single line comment

print("Hello World!")

Hello World!

**Multi line comment**

In [2]:
'''
1st line
2nd line
3rd line
'''

print("Hello World!")

Hello World!

# Variables

In [3]:
a=9
print(a)

9

In [4]:
A=2.0
print(A)

2.0

In [5]:
z="srk"
print(z)

srk

In [6]:
1a=50

SyntaxError: invalid decimal literal (2003050792.py, line 1)

In [7]:
if = 5

SyntaxError: invalid syntax (2418109538.py, line 1)

**Many Values to Multiple Variables**
- Python allows you to assign values to multiple variables in one line
- **Note:** Make sure the number of variables matches the number of values, or else you will get an error.

In [8]:
a=10
b=20
c=30

In [9]:
a,b,c = 10,20,30

**One Value to Multiple Variables**
- And you can assign the same value to multiple variables in one line

In [10]:
a = b = c = 10

# Data Types

In [11]:
x=24

type(x)

int

In [12]:
y=24.2

type(y)

float

In [13]:
z= 3+2j

type(z)

complex

In [14]:
a = True

type(a)

bool

In [15]:
b = False

type(b)

bool

In [16]:
c= "no comments,,..!@#$%&*"

type(c)

str

In [17]:
d = 10,23.4

type(d)

tuple

In [18]:
l = [10,40,25.9,-36,True,"srk"]

type(l)

list

In [19]:
t = (10,40,25.9,-36,True,"srk")

type(t)

tuple

In [20]:
t = {10,40,25.9,-36,True,"srk"}

type(t)

set

In [21]:
a = 10,20         #if you dont give brackets, then automatically it selects tuple

type(a)

tuple

- **id()** -- to check the address of the value or a variable

In [22]:
a=20

id(a)

140731538183560

In [23]:
a=100

id(a)

140731538186120

In [24]:
a = [10,20,30]

id(a)

1892270871424

In [25]:
a.append(5)

print(a)

[10, 20, 30, 5]

In [26]:
id(a)

1892270871424

In [27]:
a=10
print(a)

id(a)

10

140731538183240

In [28]:
a=100
print(a)

id(a)

100

140731538186120

**In python, the latest value will stored in a variable**

In [29]:
a = "siva" 
print(a)

siva

In [30]:
a=10
print(a)

10

In [31]:
print(a)

10

### Deleting  Object
-  Syntax to delete single variable 
- **del variable_name**

In [32]:
a,b=10,20
del a

In [33]:
print(b)

20

- Syntax to delete multiple variables at a time
- **del variable1, variable2,....variable n**

In [34]:
a,b,c=10,20,30
del a,b